@media (min-width: 1200px){

}
@media (min-width: 992px) and (max-width: 1190px){

}
@media (min-width: 768px) and (max-width: 991px){
    .popup{
        padding: 15px;
    }
    .dws-wrapper{
        padding: 40px 20px;
    }
    .close{
        position: absolute;
        right: -45px;
        top: 0;
        color: #fff;
        font-size: 28px;
    }
    .dws-form label{
        font-size: 28px;
        padding: 15px 50px;
        height: 83px;
    }
    .button{
        padding: 14px 35px;
        font-size: 28px;
        margin: 20px 0 15px 0;
    }
    .fyp__inner{
        font-size: 20px;
    }
    .dws-form input{
        width: 470px;
        height: 75px;
        margin: 15px 0;
        font-size: 28px;
    }
    .dws-form input::placeholder{
        font-size: 28px;
    }
    .ffio{
        width: 470px;
        justify-content: space-between;
    }
    .ffio input{
        width: 230px;
        font-size: 28px;
    }
    .tab{
        color: #fff;
        background: rgba(0,0,0,.8);
        padding: 18px 15px;
        display: inline-block;
    }
    .tabactive{
        background-color: rgba(53, 53, 53, 0.7);
    }
}
@media (max-width: 767px){
    .popup{
        padding: 10px;
    }
    .dws-wrapper{
        padding: 20px 10px;
    }
    .close{
        position: absolute;
        left: 50%;;
        top: -15%;
        color: #fff;
        font-size: 30px;
    }
    .dws-form label{
        font-size: 20px;
        padding: 10px 40px;
        height: 75px;
    }
    .button{
        padding: 10px 30px;
        font-size: 20px;
        margin: 20px 0 15px 0;
    }
    .fyp__inner{
        font-size: 20px;
    }
    .dws-form input{
        width: 300px;
        height: 60px;
        margin: 15px 0;
        font-size: 10px;
    }
    .dws-form input::placeholder{
        font-size: 20px;
    }
    .ffio{
        width: 300px;
        justify-content: space-between;
    }
    .ffio input{
        width: 142.5px;
        font-size: 20px;
    }
    .tab{
        color: #fff;
        background: rgba(0,0,0,.8);
        padding: 18px 15px;
        display: inline-block;
    }
    .tabactive{
        background-color: rgba(53, 53, 53, 0.7);
    }
}
@media (max-width: 480px){
    .popup{
        padding: 10px;
    }
    .dws-wrapper{
        padding: 20px 10px;
    }
    .close{
        position: absolute;
        left: 50%;;
        top: -15%;
        color: #fff;
        font-size: 20px;
    }
    .dws-form label{
        font-size: 10px;
        padding: 10px 20px;
        height: 40px;
    }
    .button{
        padding: 10px 15px;
        font-size: 10px;
        margin: 10px 0 5px 0;
    }
    .fyp__inner{
        font-size: 10px;
    }
    .dws-form input{
        width: 200px;
        height: 30px;
        margin: 5px 0;
        font-size: 10px;
    }
    .dws-form input::placeholder{
        font-size: 10px;
    }
    .ffio{
        width: 200px;
        justify-content: space-between;
    }
    .ffio input{
        width: 90px;
        font-size: 10px;
    }
    .tab{
        color: #fff;
        background: rgba(0,0,0,.8);
        padding: 18px 15px;
        display: inline-block;
    }
    .tabactive{
        background-color: rgba(53, 53, 53, 0.7);
    }
    .dws-form input:focus{
        transform: none;
        border: 1px solid #E2B464;
    }
}